[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessed = "*"
mkname = {path = "./../mkname"}

[dev-packages]
rstcheck = "*"
pycodestyle = "*"
mypy = "*"

[requires]
python_version = "3.10"
