[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blessed = "*"
mkname = "*"
clireader = {path = "./../clireader"}

[dev-packages]
rstcheck = "*"
pycodestyle = "*"
mypy = "*"
build = "*"
pytest = "*"
pytest-mock = "*"
tox = "*"
isort = "*"

[requires]
python_version = "3.10"
