ansicon==1.89.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
blessed==1.20.0 ; python_version >= "3.10" and python_version < "4.0"
clireader @ file:///Users/pji/Dev/clireader ; python_version >= "3.10" and python_version < "4.0"
jinxed==1.3.0 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
mkname==0.2.3 ; python_version >= "3.10" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.10" and python_version < "4.0"
yadr==0.1.4 ; python_version >= "3.10" and python_version < "4.0"
